.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

div {
    box-sizing: border-box;
}

.h-full {
    height: 100%;
}

.h-40 {
    height: 40px;
}

.pt-sm {
    padding-top: var(--padding-sm);
}

.pb-md {
    padding-bottom: var(--padding-md);
}

.pb-lg {
    padding-bottom: var(--padding-lg);
}

.gap-sm {
    gap: var(--space-sm);
}

.gap-md{
    gap: var(--space-md);
}